* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.nav-logo {
    height: 47px;
    width: 57px;
    border-radius: 50px;
}

.link-logo:hover {
    opacity: 0.7;
}

#hover-links:hover {
        opacity: 0.8;
        color: #af6016;
}

.portfolio {
    text-align: center;
    width: 80px;
    border: 1px solid #af6016;
    border-radius: 11px;
    color: white;
    background-color: #af6016;
    margin-top: 4px;
    padding: 3px 10px;

}

.portfolio:hover {
    color: white;
    opacity: 0.7;
}

/* header */

.foto-marcos {
    border-radius: 25%;
}

.nombre {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.25;
}

.desafioLatam {
    text-decoration: none;
    color: #FFFF;
}

.desafioLatam:hover {
    color: #af6016;    
}

.btn {
    background-color: #af6016;
    margin-top: 20px;
    border-radius: 9px;
}

.btn a {
    text-decoration: none;    
    color: white;
    
}

.btn:hover {
    opacity: 0.8;
}

/* main habilidades */

.container-habilidades {
    justify-content: space-evenly;
}

.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0.7rem 1.2rem 0.7rem;
    width: 250px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #af6016;
    background-color: #af6016;
}

.habilidades:hover {
    opacity: 0.7;
}

/* section acerca de mi */

.acerca-de {
    background-color: #af6016;
    color: #FFFF;
    height: 100%;
}

.descripcion-de-mi {
    align-items: center;

}

.acerca-de p {
    text-align: justify;
}


/* footer */

